<div class="container">
  <div class="wrapper">
    <div class="ground">
      <span>GROUND</span>
    </div>
    <div class="fighthing">
      <span>FIGHTHING</span>
    </div>
    <div class="psychic">
      <span>PSYCHIC</span>
    </div>
    <div class="fairy">
      <span>FAIRY</span>
    </div>
    <div class="flying">
      <span>FLYING</span>
    </div>
    <div class="water">
      <span>WATER</span>
    </div>
    <div class="fire">
      <span>FIRE</span>
    </div>
    <div class="electric">
      <span>ELECTRIC</span>
    </div>
    <div class="ice">
      <span>ICE</span>
    </div>
    <div class="grass">
      <span>GRASS</span>
    </div>
  </div>
</div>
