<div class="project-wrapper">
  <form novalidate (ngSubmit)="save()" [formGroup]="productForm" >
    <ng-container formArrayName="addNewProduct">
      <ng-container
        *ngFor="let label of addNewProduct.controls; let i = index"
        [formGroupName]="i"

      >
        <!-- name -->
        <div class="input-up-container">
          <mat-form-field class="name-form-field">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name (required)"
              formControlName="name"
              [ngClass]="{
                'is-invalid':
                  (label.get('name')?.touched||
                  label.get('name')?.dirty) &&
                  !label.get('name')?.valid
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="label.get('name')?.errors?.['required']">
                Please enter name.
              </span>
            </span>
          </mat-form-field>
          <!-- description -->
          <mat-form-field class="description-form-field">
            <mat-label>Description</mat-label>
            <input
              matInput
              placeholder="Description (required)"
              formControlName="description"
              [ngClass]="{
                'is-invalid':
                  (label.get('description')?.touched ||
                  label.get('description')?.dirty) &&
                  !label.get('description')?.valid
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="label.get('description')?.errors?.['required']"
              >
                Please enter description.
              </span>
            </span>
          </mat-form-field>
          <!-- price -->
          <mat-form-field class="price-form-field">
            <mat-label>Price</mat-label>
            <input
              matInput
              placeholder="Price (required)"
              formControlName="price"
              [ngClass]="{
                'is-invalid':
                  (label.get('price')?.touched ||
                  label.get('price')?.dirty) &&
                  !label.get('price')?.valid
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="label.get('price')?.errors?.['required']">
                Please enter price.
              </span>
            </span>
          </mat-form-field>
        </div>
        <div class="input-down-container">
          <!-- select -->
          <mat-form-field class="select-form-field">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        <!-- image url  -->
          <mat-form-field class="image-url-form-field">
            <mat-label>ImageUrl</mat-label>
            <input
              matInput
              placeholder="ImageUrl (required)"
              formControlName="imageUrl"
              [ngClass]="{
                'is-invalid':
                  (label.get('imageUrl')?.touched ||
                  label.get('imageUrl')?.dirty) &&
                  !label.get('imageUrl')?.valid
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="label.get('imageUrl')?.errors?.['required']">
                Please enter image url.
              </span>
            </span>
          </mat-form-field>
        <!-- phone -->
          <mat-icon>phone</mat-icon>
          <mat-form-field class="phone-form-field">
            <mat-label>Phone</mat-label>
            <input
              type="tel"
              matInput
              placeholder="Phone (required)"
              formControlName="phone"
              [ngClass]="{
                'is-invalid':
                  (label.get('phone')?.touched ||
                  label.get('phone')?.dirty) &&
                  !label.get('phone')?.valid
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="label.get('phone')?.errors?.['required']">
                Please enter your phone number.
              </span>
              <span *ngIf="label.get('phone')?.errors?.['integerPattern']">
                Please enter only number.
              </span>
              <span *ngIf="label.get('phone')?.errors?.['minlength']">
                Please enter minLength 10
              </span>
            </span>
          </mat-form-field>
        <!-- country -->
          <mat-form-field class="select-number-form-field">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option *ngFor="let country of countries" [value]="countries">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
        </ng-container>


    <!-- add new product button -->
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="addNewProduct.invalid"
          (click)="newProduct()"
        >
          ADD NEW PRODUCT
        </button>
    <!-- save btn -->
    <div class="save-btn">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [title]="
          addNewProduct.valid
            ? 'Save your entered data'
            : 'Disabled until the form data is valid'
        "
        [disabled]="!addNewProduct.valid"
        routerLink="/product-list"
      >
        SAVE
      </button>
    </div>
    <!-- remove btn -->
    <div class="remove-btn">
      <button mat-raised-button routerLink="/login">REMOVE</button>
    </div>
  </form>
</div>
<br />Dirty: {{ productForm.dirty }} <br />Touched: {{ productForm.touched }}
<br />Valid: {{ productForm.valid }} <br />Value:
{{ productForm.value | json }} <br />&nbsp;
