.project-wrapper{
  background: white;
  display: grid;
  grid-template-rows: 120px 120px 120px 120px;
  grid-row-gap: 50px;
}

  .input-up-container{
    position: relative;
    left: 90px;
  }

    .name-form-field{
      width: 30%;
    }

    .description-form-field{
      width: 30%;
    }

    .price-form-field{
      width: 30%;
    }

  .input-down-container{
    position: relative;
    left: 90px;
  }

    .select-form-field{
      width: 30%;
    }

    .image-url-form-field{
      width: 30%;
    }

    .phone-form-field{
      width: 15%;
    }

    .select-number-form-field{
      width: 12%;
    }

  mat-label {
    color: blue;
  }

  mat-form-field{
    padding-right: 80px;
    margin-top: 70px;
  }

  mat-icon{
    padding-right: 50px;
  }

  button{
    margin-top: 150px;
    margin-right: 160px;
    margin-left: 20px;
    float: right;
    padding-right: 25px;
  }
