span {
  color: black;
  text-align: center;
  padding: 14px 16px;
}

span:hover {
  background-color: white;
}

span.active {
  background-color: white;
}

.search-container {
  background-color: white;
}

.toggle-container {
  transform: scale(1.2);
}
